body {
    background-image: url(../images/bg-pattern.svg);
    background-repeat: no-repeat;
    font-family: 'Manrope', sans-serif;
}


header {
    margin-top: 100px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;

    h1 {
        color: hsl(227, 35%, 25%);
    }


    p {
        color: hsl(225, 20%, 60%);
    }
}

main {
    width: 40%;
    background-color: white;
    margin: 50px auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.wrapper {
    padding: 50px 40px;
}

.price-section {
    text-align: center;
}

#price {

    font-size: 30px;
    color: hsl(227, 35%, 25%);
    font-weight: bold;
}

#page-views,
#package-type {
    color: hsl(225, 20%, 60%);
}

.page-views {
    display: flex;
    align-items: center;
}

.range-input {
    input {
        width: 80%;
        margin: auto;
    }
}

.package-toggle-sec {
    p {
        color: hsl(225, 20%, 60%);
    }
}


// Toggle css
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(223, 50%, 87%);


    &:hover {
        background-color: hsl(174, 86%, 45%)
    }
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#discount {
    font-size: 12px;
    background-color: hsl(14, 92%, 95%);
    padding: 3px;
    border-radius: 20px;
    color: hsl(15, 100%, 70%);
}

.conditions {
    ul {
        list-style: none;
        padding: 0;

        li {
            margin: 5px 0;
        }
    }
}

.trial-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        width: 90%;
        border-radius: 30px;
        height: 50px;
        color: white;
        background-color: hsl(227, 35%, 25%);
        border: 1px solid hsl(227, 35%, 25%);
        transition: 0.5s;
        &:hover{
            background-color: white;
            color: hsl(227, 35%, 25%);
        }
    }
}


@media(min-width:769px) and (max-width:1020px) {
    main {
        width: 70%;
    }
}

@media(max-width:768px) {
    header {
        margin-top: 40px;
    }

    main {
        width: 90%;
        margin: 30px auto;
    }

    .page-views {
        margin-bottom: 10px;
        justify-content: center;
    }

    .wrapper {
        padding: 20px 10px;
    }
}